header{
    font-family: 'Yeseva One', serif;
    color: #ffffff;
    background-color: #ff6699;
}
/*body{
    background-color: lavender ;
}*/

h1 {
    text-align: center;
}

h2{
  font-family: 'Vollkorn', serif;  
  color: black
}

h3{
    font-family: 'Bree Serif', serif;
    color: rgba(72,61,139,0.9)
}

h4{
    font-family: 'Yeseva One', serif;
    color: white;
    background-color: #ff99cc;
}

h5{
    font-family: 'Vollkorn', serif; 
    color: white;
    background-color: #000;
}
p{
  font-family: 'EB Garamond', serif;
  color: MidnightBlue;
  font-size: 20px;
}


ul{
    font-family: 'PT Sans Caption', sans-serif;
    color: MidnightBlue
}
ol{
  font-family: 'PT Sans Caption', sans-serif;
  color: MidnightBlue
}


section {
    text-align: center;
  }
div{
    text-align: justify; /* For Edge */
  text-align-last: center;
}

header h1 a{
    text-decoration: none;
    color:white;
}

/*navigation bar*/
.bar {
    overflow: hidden;
    background-color: #000;
  }
  
.bar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 15px 122px;
    text-decoration: none;
    letter-spacing: 2px;
}
  
.bar a:hover {
    background-color: #ddd;
    color: #000;
}

/* page 1 */
#scrollContainer {
    display: flex;
    align-items: center;
    height: 600px; /* Adjust the height as needed */
    overflow-x: scroll; /* Allow horizontal scrolling */
    white-space: nowrap; /* Prevent content from wrapping to the next line */
}

#scrollContainer img {
    max-width: 100%;
    height: auto;
    margin-right: 20px; /* Adjust the margin between image and trigger area */
}

#scrollTriggerArea {
    height: 100%; /* Adjust the height to match the container */
    width: 50px; /* Adjust the width as needed */
    background-color: #f0f0f0; /* Some background color for visibility */
    cursor: pointer;
}

/* page 1 & 2*/
.wholebox {
    position: relative;
    width: 1260px;
    height: 820px;
    background-color: white;
}

.box {
    width: 100%;
    height: 600px;
    background-color: #e0e0e0;
    border: solid #ccc;
    margin: 20px auto;
    text-align: center;
    
}
.box img {
    text-align: center;
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.box p {
    max-width: 1000px; /* Set the maximum width to make the paragraph shorter */
    height: 100px; /* Set the desired height to make the paragraph longer */
    overflow: hidden;
    text-align: center;
    line-height: 1.5; 
    margin: 0; /* Remove any default margin */
}

.box h5{
    font-family: 'Vollkorn', serif;  
    color: white;
}

.bottom-section {
    position: absolute;
    bottom: 0;
    width: 100%; /* Make it span the full width */
    background-color: black;
    height: 43px;
    display: flex;
    justify-content: space-around; /* Adjust the alignment as needed */
    align-items: center; /* Align items vertically */
}

.bottom-section h5{
    color:white;
    font-family: 'EB Garamond', serif;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0.07px;
}

.bottom-section img {
    width: 28px; /* Set the width of the images as needed */
    height: 27px; /* Set the height of the images as needed */
    margin: 10px 5px 0 5px; /* margin between images */
}

.bottom-section a{
    color:#000;
}
/* page 2 */
.boxes-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adjust margin */
}

.members-box {
    width: calc(33.33% - 20px); /* Calculate width with margin */
    height: 420px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 20px; /* Adjust margin between boxes */
}

.members-box img {
    text-align: center;
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.members-box a{
    color: white;
}

.members-box a:hover {
    color: #000;
}

.members-box p{
    color:#000;
}
.members-box:last-child {
    margin-right: 0;
}

/* dropdown */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: #fff;
    padding: 15px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #fff;
    color:black;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
  }
  
  .dropdown-content a {
    float: none;
    background-color: #fff;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {
    background-color: black;
    color:white;
  }
  
  .show {
    display: block;
  }
  
/* profile pages that is linked from the members*/
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.inner-container {
    text-align: center; /* Center-align text within the inner container */
    margin: 20px 0; /* Add some margin for spacing */
    background-color: #FFF0F5;
    width: 800px;
    border: 1px solid #333;
    border-color: #eba9be;

  }

  .inner1-container {
    text-align: center; /* Center-align text within the inner container */
    margin: 20px 0; /* Add some margin for spacing */
    width: 1000px;

  }

  .inner1-container img{
    max-width: 300px;
    height: auto;
    margin: 10px 0;
  }

.center-container img {
    max-width: 450px; /* Ensure the image doesn't exceed its container width */
    height: auto; /* Maintain the image's aspect ratio */
    margin: 10px 0; /* Add some margin for spacing */
    border: 1px solid #333;

}

.center-container h3 {
    font-family: 'Vollkorn', serif;  
    color: black
}

.center-container ul {
    font-family: 'EB Garamond', serif;
    color: midnightblue;
    font-size: 20px;
}

/* page 3 discography */

.albums-flex-container {
    max-width: 300px;
    margin: 20px auto;
    overflow: hidden;
}

.albums-flex-container h2{
       background-color: gainsboro;
}
    
.album-box img {
    width: 100%;
    height: auto;
    padding: 2px;
    display: block;
}
 
.album-box a{
    color: #000;
}

.album-box h3{
    color: #000;
}

.video-container {
    max-width: 1000px;
    margin: 0 auto;
}

/* page 4 */

.tour-container {
    max-width: 700px;
    margin: 20px auto;
    overflow: hidden; /* Clear floats */
    background-color: lavender;
}

.tour-column {
    width: 50%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
}

.tour-column h2 {
    font-size: 20px;
    font-family: 'Vollkorn', serif;
    color: #ff6699;
}

.tour-container h4 {
    font-size: 16px;
    font-family:'Vollkorn', serif;
    color:black;
    background-color: lavender;
}

.tour-column p{
    font-family: 'Bree Serif', serif;
    color: black;
    font-size: 16px;
}

/* General styles for smaller screens */
@media (max-width: 600px) {
    header h1 {
        font-size: 24px;
    }

    nav.bar a {
        padding: 15px 60px;
    }

    .box {
        height: auto;
    }

    .box img {
        margin-bottom: 20px;
    }

    .box p {
        font-size: 16px;
    }

    .bottom-section {
        flex-direction: row;
        text-align: center;
    }

    .bottom-section h5 {
        margin-bottom: 10px;
    }

    .bottom-section img {
        margin: 10px 0;
    }

    .wholebox {
        width: 100%;
    }
}

/* Styles for medium-sized screens like tablets */
@media (min-width: 601px) and (max-width: 992px) {
    nav.bar a {
        padding: 15px 80px;
    }

    .box {
        width: 80%;
    }
}

/* Styles for larger screens like laptops/desktops */
@media (min-width: 993px) {
    nav.bar a {
        padding: 15px 122px;
    }

    .box {
        width: 992px;
    }
}